html {
  position: relative;
  min-height: 100%; 
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 60px;
  /* Margin bottom by footer height */
  background-color: #39373a;
  color: #ffffff; 
}

@media screen and (max-width: 767px) {
  #master-container h1 {
    font-size: 1.2em; 
  }
  #master-container h2 {
    font-size: 1em; 
  } 
}

h1,
h2,
h3 {
  margin: 20px 0px 10px; 
}

hr {
  margin-top: 25px;
  margin-bottom: 25px; 
}

.divider {
  border-top: 5px solid rgba(255, 255, 255, 0.75);
  width: 25%; 
}

#main {
  height: 100vh;
  margin-top: 10vh; 
}

#headpic {
  border-radius: 50%;
  border: 5px solid white;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/** INTRO TEXT STYLES **/
.introText {
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 14s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 14s;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.headerFadeIn {
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 16s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 16s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/**** FOOTER STYLES ****/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #39373a;
  font-size: 14px;
  text-align: center; 
}
